.col-centered {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
  }
.small-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .btn-primary.big-button {
	background-color: rgb(243, 44, 217);
	border-color: rgb(225, 209, 65);
} */
.big-button {
  width: 200px;
  color: red;
}